# ==========================================
# Environment
# ==========================================
APP_NAME="" 				# Provide a value for APP_NAME
APP_ENV="" 				# Provide a value for APP_ENV

# ==========================================
# Fake Store API
# ==========================================
API_BASE_URL="" 				# Provide a value for API_BASE_URL
API_TIMEOUT="" 				# Provide a value for API_TIMEOUT

# ==========================================
# Target PostgreSQL
# ==========================================
POSTGRES_HOST="" 				# Provide a value for POSTGRES_HOST
POSTGRES_PORT="" 				# Provide a value for POSTGRES_PORT
POSTGRES_DB="" 				# Provide a value for POSTGRES_DB
POSTGRES_USER="" 				# Provide a value for POSTGRES_USER
POSTGRES_PASSWORD="" 				# Provide a value for POSTGRES_PASSWORD
POSTGRES_SCHEMA="" 				# Provide a value for POSTGRES_SCHEMA

# ==========================================
# Airflow PostgreSQL
# ==========================================

AIRFLOW_DB_HOST="" 				# Provide a value for AIRFLOW_DB_HOST
AIRFLOW_DB_PORT="" 				# Provide a value for AIRFLOW_DB_PORT
AIRFLOW_DB_NAME="" 				# Provide a value for AIRFLOW_DB_NAME
AIRFLOW_DB_USER="" 				# Provide a value for AIRFLOW_DB_USER
AIRFLOW_DB_PASSWORD="" 				# Provide a value for AIRFLOW_DB_PASSWORD


# ==========================================
# Airflow
# ==========================================

AIRFLOW__CORE__EXECUTOR="" 				# Provide a value for AIRFLOW__CORE__EXECUTOR

AIRFLOW__CORE__LOAD_EXAMPLES="" 				# Provide a value for AIRFLOW__CORE__LOAD_EXAMPLES

AIRFLOW_USERNAME="" 				# Provide a value for AIRFLOW_USERNAME
AIRFLOW_PASSWORD="" 				# Provide a value for AIRFLOW_PASSWORD
AIRFLOW_FIRSTNAME="" 				# Provide a value for AIRFLOW_FIRSTNAME
AIRFLOW_LASTNAME="" 				# Provide a value for AIRFLOW_LASTNAME
AIRFLOW_ROLE="" 				# Provide a value for AIRFLOW_ROLE
AIRFLOW_EMAIL="" 				# Provide a value for AIRFLOW_EMAIL

# ==========================================
# ETL
# ==========================================
RAW_DATA_DIR="" 				# Provide a value for RAW_DATA_DIR
PROCESSED_DATA_DIR="" 				# Provide a value for PROCESSED_DATA_DIR

# ==========================================
# Logging
# ==========================================
LOG_LEVEL="" 				# Provide a value for LOG_LEVEL
LOG_DIRECTORY="" 				# Provide a value for LOG_DIRECTORY
LOG_FILE_NAME="" 				# Provide a value for LOG_FILE_NAME


# ==========================================
# pgAdmin
# ==========================================

PGADMIN_DEFAULT_EMAIL="" 				# Provide a value for PGADMIN_DEFAULT_EMAIL
PGADMIN_DEFAULT_PASSWORD="" 				# Provide a value for PGADMIN_DEFAULT_PASSWORD