# ==========================================
# Environment
# ==========================================
APP_NAME="" 				# Provide a value for APP_NAME
APP_ENV="" 				# Provide a value for APP_ENV

# ==========================================
# Fake Store API
# ==========================================
API_BASE_URL="" 				# Provide a value for API_BASE_URL
API_TIMEOUT="" 				# Provide a value for API_TIMEOUT

# ==========================================
# PostgreSQL
# ==========================================
POSTGRES_HOST="" 				# Provide a value for POSTGRES_HOST
POSTGRES_PORT="" 				# Provide a value for POSTGRES_PORT
POSTGRES_DB="" 				# Provide a value for POSTGRES_DB
POSTGRES_USER="" 				# Provide a value for POSTGRES_USER
POSTGRES_PASSWORD="" 				# Provide a value for POSTGRES_PASSWORD
POSTGRES_SCHEMA="" 				# Provide a value for POSTGRES_SCHEMA

# ==========================================
# ETL
# ==========================================
RAW_DATA_DIR="" 				# Provide a value for RAW_DATA_DIR
PROCESSED_DATA_DIR="" 				# Provide a value for PROCESSED_DATA_DIR

# ==========================================
# Logging
# ==========================================
LOG_LEVEL="" 				# Provide a value for LOG_LEVEL
LOG_DIRECTORY="" 				# Provide a value for LOG_DIRECTORY
LOG_FILE_NAME="" 				# Provide a value for LOG_FILE_NAME